$burnt-sienna : #F15C59;
$mysin : #F8B24A;
$shamrock-light : #E1FFF1;
$shamrock : #28DD8D;
$shamrock-dark : #19955d;
$seasalt-dark : #009499;
$seasalt-light : #E9FCFC;
$silver-light : #F4F4F4;
$cyprus : #080B2C;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    // font-family: 'Source Sans Pro', sans-serif;
}